---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Hero from '../components/Hero.astro';
import Problem from '../components/Problem.astro';
import Solution from '../components/Solution.astro';
import HowItWorks from '../components/HowItWorks.astro';
import AuditCTA from '../components/AuditCTA.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
---
<Layout>
  <Nav />
  <main>
    <Hero />
    <Problem />
    <Solution />
    <HowItWorks />
    <AuditCTA />
  </main>
  <Footer />
</Layout>
